<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link ref="stylesheet" href="/public/css/bootstrap.css">
  <title>新闻列表</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {%for item in list%}
        <div class="panel panel-default">
          <div class="panel-padding">
            <h3>{{item.name}}</h3>

          </div>
          <div class="panel-body">
            <img src="{{item.avatar}}" />

          </div>
          <div class="panel-footer">
            <h3 class="text-center">发表时间:{{item.createAt}}</h3>

          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
  
</body>
</html>